In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
taitanic = pd.read_csv('./train.csv')
print(taitanic.shape)
taitanic.info()

(891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
taitanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
X = taitanic.drop(['PassengerId','Name','Cabin', 'Fare','Ticket'],axis=1)

In [23]:
print(X.shape)
X.info()

(891, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Embarked  889 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 48.9+ KB

In [24]:
X.groupby('Embarked').agg('mean')

          Survived    Pclass        Age     SibSp     Parch
Embarked
C         0.553571  1.886905  30.814769  0.386905  0.363095
Q         0.389610  2.909091  28.089286  0.428571  0.168831
S         0.336957  2.350932  29.445397  0.571429  0.413043

In [25]:
X.groupby('Pclass').agg('mean')

        Survived        Age     SibSp     Parch
Pclass
1       0.629630  38.233441  0.416667  0.356481
2       0.472826  29.877630  0.402174  0.380435
3       0.242363  25.140620  0.615071  0.393075

In [26]:
X.groupby('Sex').agg('mean')

        Survived    Pclass        Age     SibSp     Parch
Sex
female  0.742038  2.159236  27.915709  0.694268  0.649682
male    0.188908  2.389948  30.726645  0.429809  0.235702

In [27]:
X.groupby('Parch').agg('mean')

       Survived    Pclass        Age     SibSp
Parch
0      0.343658  2.321534  32.178503  0.237463
1      0.550847  2.203390  24.422000  1.084746
2      0.500000  2.275000  17.216912  2.062500
3      0.600000  2.600000  33.200000  1.000000
4      0.000000  2.500000  44.500000  0.750000
5      0.200000  3.000000  39.200000  0.600000
6      0.000000  3.000000  43.000000  1.000000

In [28]:
X = X.dropna()
print(X.shape)
X.info()

(712, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    object
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Embarked  712 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.5+ KB

In [ ]:
X = X.drop